body {
  font-family: montserrat, sans-serif;
   background-image: linear-gradient(to right, #000000, #001e57);
  color: #fff;
  margin: 0;
  padding: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 20px;
  margin:0;
  width: 97%;
  position: absolute;
  top: 0;
  left: 0;
}

/* this was used so body's margin doesnt effect header */
body > *:not(header) { 
  margin: 40px;
}

.name h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 40px;
}

p {
  font-size: 18px;
}


.text{
margin-top: 100px;
}

.button{
  text-align: left;
}

.r {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  cursor: pointer;
}

.image{
  text-align: center;
  margin-top: 50px;
}

.image img {
  max-width: 100%;
  height: auto;
}

.linky{
  color: white;
  text-decoration: none;
}

/* responsiveness */
iframe {
  max-width: 100%;
  height: auto;
  width: 800px;
  height: 450px;
}
